<h1>Space Posters Shop</h1>
<p>Welcome to our shop. If you are a fan of space posters, you will love it here.</p>
<p>We have a selection of wonderful and rare posters for sale.</p>

<h3>Log In</h3>
<%= render 'users/form' %>

<h3>Sign Up</h3>
<%= render 'sessions/signup_form' %>