<h2>My Wishlist</h2>


<% @wishlists.each do |wishlist| %>
	<div>
		<% if wishlist.products.length > 0 %>
			<% wishlist.products.each do |product| %>
				<div>
					<h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
					<p><%= product.price %></p>
					<p><a>Add to Cart</a></p>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>

