<h1>All of our Products</h1>
<!-- <p>Find me in app/views/product/index.html.erb</p> -->



<%= @products.each do |product| %>
	<div class="card">
		<h4><a href="/products/<%= product.id %>"><%= product.name %></a></h4>
		<h4><%= product.price %></h4>
		<img src="http://lorempixel.com/150/210/nature">
	</div>
<% end %>
