<h2>Shop our Selection of Amazing Products</h2>
<div class="product-container">
	<% @products.each do |product| %>
		<div class="card">
			<h4 class="product-name"><a href="/products/<%= product.id %>"><%= product.name %></a></h4>
			<h4 class="product-price"><%= product.price %></h4>
			<img src="http://lorempixel.com/150/210/nature">
		</div>
	<% end %>
</div>
